@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@utility card {
  @apply shadow-[3px_3px_0px_rgba(0,0,0,0.03)] ; 
}

@utility font-title {
  @apply text-balance tracking-wider uppercase font-bold text-[30px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subtitle {
  @apply text-balance tracking-wide font-mono opacity-80 text-[25px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subheader {
  @apply font-mono tracking-widest opacity-40;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@utility font-header {
  @apply text-balance tracking-wide font-mono opacity-80 text-[10px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-body {
  @apply leading-relaxed font-mono;
  font-family: ui-serif, 'IBM Plex Mono', monospace;
}

@utility font-label {
  @apply tracking-widest leading-relaxed font-mono text-[8px] opacity-50; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


@utility font-subtext {
  @apply font-bold tracking-tighter; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}

@utility animate-slide {
  background-size: 500px 100%;
  background-repeat: repeat-x;
  animation: animatedBackground 60s linear infinite alternate;
}


@layer utilities {

  
  /* Gap */
  .gap-xs {
    @apply gap-1;
  }
  .gap-sm {
    @apply gap-2;
  }
  .gap-md {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-8;
  }
  .gap-xl {
    @apply gap-12;
  }

  /* Padding (all sides) */
  .p-xs {
    @apply p-1;
  }
  .p-sm {
    @apply p-2;
  }
  .p-md {
    @apply p-4;
  }
  .p-lg {
    @apply p-8;
  }
  .p-xl {
    @apply p-12;
  }

  /* Margin (all sides) */
  .m-xs {
    @apply m-1;
  }
  .m-sm {
    @apply m-2;
  }
  .m-md {
    @apply m-4;
  }
  .m-lg {
    @apply m-8;
  }
  .m-xl {
    @apply m-12;
  }
}

@layer base {
    :root, .light {
        --neutral: #ffffff;
        --neutral-accent: #3d4451;
        --neutral-contrast: #000000;
        --primary: #570df8;
        --secondary: #f000b8;
        --tertiary: #37cdbe;
    }

    .dark {
        --neutral: #2A303C;
        --neutral-accent: #191d24;
        --neutral-contrast: #a4abb8;
        --primary: #6419e6;
        --secondary: #d126a4;
        --tertiary: #1fb2a6;
    }
}