@import "tailwindcss";

@utility card {
  @apply shadow-[3px_3px_0px_rgba(0,0,0,0.03)] ; 
}

@utility font-title {
  @apply text-balance tracking-wider uppercase font-bold text-[30px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subtitle {
  @apply text-balance tracking-wide font-mono opacity-80 text-[25px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subheader {
  @apply font-mono tracking-widest opacity-40;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@utility font-header {
  @apply text-balance tracking-wide font-mono opacity-80 text-[10px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-body {
  @apply leading-relaxed font-sans;
  font-family: ui-serif, 'IBM Plex Mono', monospace;
}

@utility font-label {
  @apply tracking-widest leading-relaxed font-mono text-[10px] opacity-50; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


@utility font-subtext {
  @apply font-bold tracking-tighter; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@utility pause-animation {
  animation-play-state: paused;
}


/*
anims
*/
@keyframes fillBar {0% {width:0%}100% {width:100%}}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}

@utility animate-slide {
  background-size: 500px 100%;
  background-repeat: repeat-x;
  animation: animatedBackground 60s linear infinite alternate;
}



@layer utilities {
  /* Gap */
  .gap-xs {
    @apply gap-1;
  }
  .gap-sm {
    @apply gap-2;
  }
  .gap-md {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-8;
  }
  .gap-xl {
    @apply gap-12;
  }

  /* Padding (all sides) */
  .p-xs {
    @apply p-1;
  }
  .p-sm {
    @apply p-2;
  }
  .p-md {
    @apply p-4;
  }
  .p-lg {
    @apply p-8;
  }
  .p-xl {
    @apply p-12;
  }

  /* Margin (all sides) */
  .m-xs {
    @apply m-1;
  }
  .m-sm {
    @apply m-2;
  }
  .m-md {
    @apply m-4;
  }
  .m-lg {
    @apply m-8;
  }
  .m-xl {
    @apply m-12;
  }
}

@layer base {
    :root, .vaporwave-light {
        --neutral: #f6fdff;
        --neutral-accent: #d3d3d3;
        --neutral-contrast: #202020;
        --primary: #ff60ea;
        --secondary: #e4a3d5;
        --tertiary: #37cdbe;
    }

    .vaporwave-dark {
        --neutral: #1f1f1f;
        --neutral-accent: #3a3a3a;
        --neutral-contrast: #f7f7f7;
        --primary: #f709b7;
        --secondary: #f066cb;
        --tertiary: #1fb2a6;
    }

    .ocean-light {
        --neutral: #f3fbfd;
        --neutral-accent: #d4bea2;
        --neutral-contrast: #1f2d30;
        --primary: #4ac9f0;
        --secondary: #95c6cf;
        --tertiary: #5dd4d0;
    }

    .ocean-dark {
        --neutral: #122326;
        --neutral-accent: #1d383c;
        --neutral-contrast: #f4f9fa;
        --primary: #2eb8c5;
        --secondary: #49d6df;
        --tertiary: #94f6f3;
    }

}