@import "tailwindcss";

@utility card {
  @apply shadow-[3px_3px_0px_var(--neutral-accent)] ; 
}

@utility font-title {
  @apply text-balance tracking-wider uppercase font-bold text-[30px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subtitle {
  @apply text-balance tracking-wide font-mono opacity-80 text-[25px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-subheader {
  @apply font-mono tracking-widest opacity-40;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@utility font-header {
  @apply text-balance tracking-wide font-mono opacity-80 text-[10px];
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@utility font-body {
  @apply leading-relaxed font-sans;
  font-family: ui-serif, 'IBM Plex Mono', monospace;
}

@utility font-label {
  @apply tracking-widest leading-relaxed font-mono text-[10px] opacity-50; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


@utility font-subtext {
  @apply font-bold tracking-tighter; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@utility pause-animation {
  animation-play-state: paused;
}


/*
anims
*/
@keyframes fillBar {0% {width:0%}100% {width:100%}}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}

@utility animate-slide {
  background-size: 500px 100%;
  background-repeat: repeat-x;
  animation: animatedBackground 60s linear infinite alternate;
}



@layer utilities {
  /* Gap */
  .gap-xs {
    @apply gap-1;
  }
  .gap-sm {
    @apply gap-2;
  }
  .gap-md {
    @apply gap-4;
  }
  .gap-lg {
    @apply gap-8;
  }
  .gap-xl {
    @apply gap-12;
  }

  /* Padding (all sides) */
  .p-xs {
    @apply p-1;
  }
  .p-sm {
    @apply p-2;
  }
  .p-md {
    @apply p-4;
  }
  .p-lg {
    @apply p-8;
  }
  .p-xl {
    @apply p-12;
  }

  /* Margin (all sides) */
  .m-xs {
    @apply m-1;
  }
  .m-sm {
    @apply m-2;
  }
  .m-md {
    @apply m-4;
  }
  .m-lg {
    @apply m-8;
  }
  .m-xl {
    @apply m-12;
  }
}


@layer base {
    :root, .vaporwave-light {
        --neutral: #f6fdff;
        --neutral-accent: #dfdddd;
        --neutral-contrast: #202020;
        --primary: #ff60ea;
        --secondary: #e4a3d5;
        --tertiary: #37cdbe;
    }

    .vaporwave-dark {
        --neutral: #1f1e1e;
        --neutral-accent: #474747;
        --neutral-contrast: #f7f7f7;
        --primary: #f709b7;
        --secondary: #f066cb;
        --tertiary: #1fb2a6;
    }

    .ocean-light {
        --neutral: #f8f5f1;
        --neutral-accent: #ebe6d1;
        --neutral-contrast: #1f2d30;
        --primary: #4ac9f0;
        --secondary: #95c6cf;
        --tertiary: #5dd4d0;
    }

    .ocean-dark {
        --neutral: #113558;
        --neutral-accent: #1a6481;
        --neutral-contrast: #f4f9fa;
        --primary: #856c47;
        --secondary: #a39c74;
        --tertiary: #19d7dd;
    }

    .bchiang-dark {
        --neutral: #0F172A;
        --neutral-accent: #232B3E;
        --neutral-contrast: #FFFFFF;
        --primary: #23d1ba;
        --secondary: #4bc0b2;
        --tertiary: #c9f5f1;
    }

    .bchiang-light {
        --neutral: #e8faf7;
        --neutral-accent: #a8fcff;
        --neutral-contrast: #232B3E;
        --primary: #53b39b;
        --secondary: #aef3e9;
        --tertiary: #0a266b;
    }


    .terminal-dark {
        --neutral: #161616;
        --neutral-accent: #3f3f3f;
        --neutral-contrast: #09ff00;
        --primary: #007209;
        --secondary: #014917;
        --tertiary: #bbffc4;
    }

    .terminal-light {
        --neutral: #ffffff;
        --neutral-accent: #e2e2e2;
        --neutral-contrast: #011b09;
        --primary: #62e92d;
        --secondary: #697c6b;
        --tertiary: #11bb02;
    }

    .terminal-dark {
        --neutral: #161616;
        --neutral-accent: #1dff09;
        --neutral-contrast: #00ff00;
        --primary: #094e00;
        --secondary: #183d23;
        --tertiary: #e2e2e2;
    }

    .terminal-light {
        --neutral: #ffffff;
        --neutral-accent: #e2e2e2;
        --neutral-contrast: #011b09;
        --primary: #62e92d;
        --secondary: #697c6b;
        --tertiary: #11bb02;
    }

    .forrest-dark {
        --neutral: #202D14;
        --neutral-accent: #2B5E26;
        --neutral-contrast: #d2e273;
        --primary: #975e0f;
        --secondary: #b19732;
        --tertiary: #ddb40d;
    }

    .forrest-light {
        --neutral: #c3f8aa;
        --neutral-accent: #9eee70;
        --neutral-contrast: #1a1707;
        --primary: #918f33;
        --secondary: #125819;
        --tertiary: #324611;
    }

    .vboy-dark {
        --neutral: #121213;
        --neutral-accent: #7a0707;
        --neutral-contrast: #fa3a2d;
        --primary: #940014;
        --secondary: #9c3831;
        --tertiary: #fa2922;
    }

    .vboy-light {
        --neutral: #fcd1d5;
        --neutral-accent: rgb(247, 197, 191);
        --neutral-contrast: #252525;
        --primary: #f7533d;
        --secondary: #7a0202;
        --tertiary: #ff3116;
    }
    
    .normal-dark {
        --neutral: #242424;
        --neutral-accent: #525252;
        --neutral-contrast: #ffffff;
        --primary: #505050;
        --secondary: #cfcfcf;
        --tertiary: #ffffff;
    }

    .normal-light {
        --neutral: #ffffff;
        --neutral-accent: rgb(192, 192, 192);
        --neutral-contrast: #242424;
        --primary: #b4b4b4;
        --secondary: #6b6b6b;
        --tertiary: #424242;
    }
}